<template name="categories">

    <!-- Page heading -->
    {{> pageHeading title='Categories' }}


    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content text-center p-md">

                        <h2><span class="text-navy">Budget Categories</span>
                            here you add your budget categories <br/></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="float-e-margins text-center">
                    <div class="ibox-content">

                        <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example" >
                            <thead>
                            <tr>
                                <th>Category Name</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="gradeX">
                                <td style="text-align: left">Income</td>
                                <td>
                                    <form role="form" class="form-inline-add-income">
                                        {{>add_sub_category}}
                                    </form>
                                </td>
                            </tr>
                            {{#each categories_income}}
                                {{> category_detail}}
                            {{/each}}
                            <tr class="gradeX">
                                <td style="text-align: left">Expense</td>
                                <td>
                                    <form role="form" class="form-inline-add-expense">
                                        {{>add_sub_category}}
                                    </form>
                                </td>
                            </tr>
                            {{#each categories_expense}}
                                {{> category_detail}}
                            {{/each}}
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="add_sub_category">
    <div class="form-group">
        <input type="text" placeholder="Add sub category" id="category_name" class="form-control">
    </div>
</template>

<template name="category_detail">
    <tr class="gradeX">
        <td style="text-align: left">
            <span style="padding-left:5em">{{category_display_name}}</span>
        </td>
        <td>
            <div class="col-lg-12">                
                <form role="form" class="form-inline-add-sub-category col-lg-6">
                    {{>add_sub_category}}
                </form>
                <span class="col-lg-6">
                    <a class="delete btn btn-danger">Delete</a>
                </span>
            </div>
        </td>
    </tr>
</template>


<template name="parent_category_detail">
    <option value="{{name}}">{{name}}</option>
</template>

<template name="category_tree">
    <div id="jstree_categories">
        <ul>
            <li class="jstree-open">Income
                <ul>
                    {{#each categories_income}}
                        {{>category_tree_item}}
                    {{/each}}
                </ul>
            </li>
            <li class="jstree-open">Expense
                <ul>
                    {{#each categories_expense}}
                        {{>category_tree_item}}
                    {{/each}}
                </ul>
            </li>
        </ul>
    </div>
</template>

<template name="category_tree_item">    
    {{#if child_categories}}
        <li>{{name}}
            <ul>
                {{#each child_categories}}
                    <li data-jstree='{"type":"child"}'>{{this}}</li>
                {{/each}}
            </ul>
        </li>
    {{else}}
        <li data-jstree='{"type":"child"}'>{{name}}</li>
    {{/if}}
</template>