<template name="categories">

    <!-- Page heading -->
    {{> pageHeading title='Categories' }}


    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content text-center p-md">

                        <h2><span class="text-navy">Budget Categories</span>
                            here you add your budget categories <br/></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="float-e-margins text-center">
                    <div class="ibox-content">

                        <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example" >
                            <thead>
                            <tr>
                                <th>Category Name</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="gradeX">
                                <td style="text-align: left">Income</td>
                                <td>
                                    <form role="form" class="form-inline-add-income">
                                        {{>add_sub_category}}
                                    </form>
                                </td>
                            </tr>
                            {{#each parents "Income"}}
                                {{> category_detail}}
                            {{/each}}
                            <tr class="gradeX">
                                <td style="text-align: left">Expense</td>
                                <td>
                                    <form role="form" class="form-inline-add-expense">
                                        {{>add_sub_category}}
                                    </form>
                                </td>
                            </tr>
                            {{#each parents "Expense"}}
                                {{> category_detail}}
                            {{/each}}
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="add_sub_category">
        <input type="text" placeholder="Add sub category" id="category_name" class="form-control">
</template>

<template name="category_detail">
    <tr class="gradeX">
        <td style="text-align: left">
            <span style="padding-left:5em">{{category_display_name}}</span>
        </td>
        <td>
            <div class="col-lg-12">                
                <form role="form" class="form-inline-add-sub-category col-lg-6">
                    {{>add_sub_category}}
                </form>
                <span class="col-lg-6">
                    {{#if is_child_category}}
                    <a class="delete btn btn-danger">Delete</a>
                    {{/if}}
                </span>
            </div>
        </td>
    </tr>
    {{#each category_childs}}
        {{> category_detail}}
    {{/each}}
</template>
